{% extends 'login_base.html' %}
{% block title%} Change password {% endblock %}

{% block content %}
<div class='container p-3'>
    <div class='row'>
        <div class='col col-md-6 w-50 mx-auto'>
            <div class='card'>
                <div class='card-header any-box-color'>
                    <h2 class='text-center'> Change Password </h2>
                </div>
                <div class='card-body'>
                    <form method="post"> {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class='btn any-box-color'>Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}