body {
  background-color: #DAAD86;
  padding: 100px 0px 0px 0px;
  }

.jumbotron {
    background-color: #659DBD;
  }

#logo {
  width: 10%;
	height: auto;
}

.footer{
  background-color: #FBEEC1;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.navbar-dark{
  background-color: #8D8741;
}

.any-box-color {
  background-color: #BC986A;
}

.row-header{
  margin:0px auto;
  padding:0px;
}